*{
    margin: 0;
}

#title{
    margin: 30px 20px 15px 20px;
    text-align: center;
    font-size: 30px;
}

#select{
    font-size: 30px;
}

#result{
    margin: 100px auto 10px;
    font-size: 35px;
    writing-mode: vertical-rl;
}


#b{
    margin-top: 30px;
}

#c{
    margin-top: 60px;
}

#button{
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

button{
    width: 200px;
    height: 50px;
    margin: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
}

#change_btns {
    display: flex;
}

#enter{
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}